@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 1200px;
  height: 600px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 6rem;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

img {
  width: 35px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2.5px solid white;
}

.person-1 {
  grid-area: 1/1/2/3;
  background-color: var(--Moderate-violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 18%;
}

.name-1 h3 {
  color: var(--Light-grayish-blue);
}

.name-1 p {
  color: var(--Light-grayish-blue);
  opacity: 50%;
}

.p-1-1 {
  color: var(--Light-grayish-blue);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.p-1-2 {
  color: var(--White);
  opacity: 70%;
  line-height: 1.5rem;
  font-size: 15px;
}

.person-2 {
  grid-area: 1/3/2/4;
  background-color: var(--Very-dark-grayish-blue);
}

.person-2 img {
  border: 0px none;
}

.name-2 h3 {
  color: var(--Light-grayish-blue);
}

.name-2 p {
  color: var(--Light-grayish-blue);
  opacity: 50%;
}

.person-5 {
  grid-area: 1/4/3/5;
  background-color: var(--White);
}

.name-5 h3 {
  color: var(--Very-dark-grayish-blue);
}

.name-5 p {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
}

.person-3 {
  grid-area: 2/1/3/2;
  background-color: var(--White);
}

.name-3 h3 {
  color: var(--Very-dark-grayish-blue);
}

.name-3 p {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
}

.p-2-1 {
  color: var(--Very-dark-grayish-blue);
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.p-2-2 {
  color: var(--Very-dark-grayish-blue);
  opacity: 70%;
  line-height: 1.35rem;
  font-size: 15px;
}

.person-4 {
  grid-area: 2/2/3/4;
  background-color: var(--Very-dark-blackish-blue);
}

.person-4 img {
  border-color: var(--Moderate-violet);
}

.name-4 h3 {
  color: var(--White);
}

.name-4 p {
  color: var(--White);
  opacity: 50%;
}

.person-1,
.person-2,
.person-3,
.person-4,
.person-5 {
  border-radius: 0.5rem;
  padding: 30px;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    max-width: 780px;
    min-width: 348px;
    margin: 20px;
    min-zoom: 125%;
  }
  footer {
    display: none;
  }
}

